body{    
    position: relative;
}
li{
    color:yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 1.25em;       
}
#boxTop{
    background:url('img/wallpapperBody.jpg') center center no-repeat;
    position: relative;
    width: auto;
    height: auto;
}